* {
    margin:0px;
    padding:0px;
}

h1 {
    color: #000;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: Montserrat;

    @include breakpoint($md) {
        font-size: 24px;
    }
}

h2 {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    font-family: Montserrat;

    @include breakpoint($md) {
        font-size: 16px;
    }
}
